.gradient-button{
    color: #fff;
    background: linear-gradient(45deg,rgb(132, 0, 255),rgb(255, 0, 242),rgb(81, 0, 128),rgb(225, 0, 255));
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}