/* Hero Typewriter */
.line-1 {
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line-2 {
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .anim-typewriter1 {
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 1000ms steps(44) infinite normal;
  }
  
  .anim-typewriter2 {
    animation: typewriter2 4s steps(44) 5s 1 normal both,
      blinkTextCursor 1000ms steps(44) infinite normal;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: 7em;
    }
  }
  
  @keyframes typewriter2 {
    from {
      width: 0;
    }
  
    to {
      width: 14em;
    }
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, .75);
    }
  
    to {
      border-right-color: transparent;
    }
  }